.grid {
    display: grid;
    grid-template-columns: repeat(50, 20px); /* 50 columns */
  }
  
  .cell {
    height: 20px;
    border: 1px solid #612121;
    border-radius: 50px;
  }
  
  .cell.alive {
    background-color: #3d0a49;
  }
  